#wrapFormText{
    color: rgb(111, 0, 255);
    border: 1px solid black;
    padding: 30px;
    display:grid;
    place-items: center;
}

#task{
    background-color: hsl(205, 100%, 69%);
}

#taskList{
    display: grid;
    gap: 0.5em;
    row-gap: 0.5em;
    column-gap: 0.5em;
}